# Laravel / PHP
/vendor/
/bootstrap/cache/*.php
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/public/hot
*.log

# Node / assets
/node_modules/
npm-debug.log*
yarn-error.log

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor
.idea/
.vscode/
*.swp
.DS_Store

# Testing
/.phpunit.cache
.phpunit.result.cache
/coverage
